<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Design By Kenji Le</title>
    <link rel="stylesheet" href="~/style/all.css"> 

    <link rel="stylesheet" href="~/style/2.css">  
    <link rel="stylesheet" href="~/style/3.css"> 

    <link rel="stylesheet" href="~/style/1.css">  
    
    <link rel="stylesheet" href="~/style/style.css">


    <script src="~/js/2.js"></script> 
    <script src="~/js/3.js"></script>  
    <script src="~/js/1.js"></script> 

    <script type="text/javascript" src="~/js/manjs.js"></script> 

</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-menu flex-row">
                <div class="nav-brand">
                    <a href="index.html" class="text-gray">Kenji Le</a>
                </div>
                <div class="toggle-collapse">
                    <div class="toggle-icons">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <div>
                    <ul class="nav-items">
                        <li class="nav-link">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-link">
                            <a asp-area="" asp-controller="Cart" asp-action="Product">Product</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        @*if (User.IsInRole(SD.AdminEndUser) || User.IsInRole(SD.SupperAdminEndUser))*@

                        {

                            <li class="nav-link">
                                <a asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                            </li>
                        }

                        <li class="nav-link">
                            <a asp-controller="Home" asp-action="contact">Contact Us</a>
                        </li>
                    </ul>
                </div>


                <div class="social text-gray">

                    <a asp-controller="Account" asp-action="login"><span class="login"><partial name="_LoginPartial" /></span></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>About us</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis itaque amet quo cupiditate doloremque qui,
                    a similique, dolores ipsa ex aliquid earum voluptas provident odio. Possimus eveniet accusantium sint harum.
                </p>
            </div>
            <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <div class="instagram" data-aos="fade-left" data-aos-delay="200">
                <h2>Instagram</h2>
                <div class="flex-row">
                    <img src="~/image/instagram/img1.jpg" alt="IG1">
                    <img src="~/image/instagram/img2.jpg" alt="IG2">
                    <img src="~/image/instagram/img3.jpg" alt="IG3">
                </div>
                <div class="flex-row">
                    <img src="~/image/instagram/img4.jpg" alt="IG4">
                    <img src="~/image/instagram/img5.jpg" alt="IG5">
                    <img src="~/image/instagram/img6.jpg" alt="IG6">
                </div>
            </div>
            <div class="follow" data-aos="fade-left" data-aos-delay="200">
                <h2>Follow us</h2>
                <p>Let us be Social</p>
                <div>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Độc quyền tại
                <a href="https://huflit.edu.vn/" target="_black">KenjiLe <i class="fab fa-facebook"></i></a>
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>

    
</body>
</html>
